*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: capitan;
    src: url("../fonts/american_captain/American\ Captain.ttf");
}
@font-face {
    font-family: lemon;
    src: url("../fonts/lemon_milk/LEMONMILK-LightItalic.otf");
}
h1{
    position: relative;
    text-align: center;
    font-family: lemon;
    font-weight: bolder;
    justify-content: center;
    
}
h2{
    text-align: center;
    font-family: lemon;
    font-size: 60px;
}
h3{
    text-align: center;
    font-family: lemon;
    font-size: 45px;
}
h4{
    font-family: lemon;
}
h5{
    font-family: lemon;
}
p{
    font-family: lemon;
}
/*----HEADER----*/


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #89B5AF;
    grid-area: header;
}
header img{
    width: 120px;
    height: 120px;
    display: flex;
    align-self: auto;
    margin-block-start: auto;
}
    .header nav ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    }
        .header nav ul li{
            margin: 15px;
        }
            .header nav ul li a{
                font-family: lemon;
                display: flex;
                text-decoration: none;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                }
                .header nav ul li a:hover{
                    color: #000000;
                    transition: 1s;
                    text-shadow: none;
                }

.focus-in-contract {
	animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes focus-in-contract {
    0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
    }
    100% {
    filter: blur(0px);
    opacity: 1;
    }
}
.button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 10px 20px 30px 40px;
    background:  #89b5af;
    border: 1px solid #89b5af;
    transition: all .3s;
    box-shadow: 6px 6px 12px #89b5af,
                -6px -6px 12px #89b5af;
}

.button:hover {
    border: 1px solid #4e583b;
}

.button:active {
    box-shadow: 4px 4px 12px #6e7c51,
                -4px -4px 12px #9b9b9b;
}


/*----MAIN----*/
.main img{
    border-radius: 12px;
    background: #e0e0e0;

}

.main h2{
    font-family: capitan;
    font-size: 45px;
    font-weight: bold;
    background-color: #DED9C4;
    grid-area: main;
}
.main .h2Titular{
    margin-bottom: 25px;
}
.articulo1 {
    align-items: center;
}

.articulo2 {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: row-reverse;
}
.article .articulo2{
    display: flex;
    flex-direction: row-reverse;
}
   /* .articulo2 > div img{
        width: 600px;
        height: 400px;
        margin: 60px 0 0 0;
    }
    .articulo2 div .tituloParrafo{
        margin: 40px;
    }*/


/*-----FOOTER---*/
/*.footer{
    background-color: #D0CAB2;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;*/
    
    

/*.footer .cont{
    display: flex;
    text-align: center;
    margin: 15px;
    align-items: center; 
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
}*//* .footer .cont h5 a{
    text-align: center;*/

/*.footer .cont img{
    width: 150px;
    height: 150px;*/

/*.footer .cont h4 {
    margin: 15px;
    display: ruby;
    align-items: center;
    justify-content: center;*/

/*.footer .cont p{
    font-size: small;
    display: ruby;
    align-self: initial;*/



/*.footer .cont a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: start;
    justify-items: end;*/

/*.footer .cont a img{
    display: flex;
    margin: 15px;
    width: 35px;
    height: 35px;
    align-items: center;*/

/*.footer .logos a{
    text-decoration: none;
    list-style: none;
    justify-items: initial;
}
    .logos{
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: flex-end;
}
    .logos h5{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
*/


/* Pagina de Galeria.html*/
.contenedorGaleria{
    display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "pie pie pie";
}
.imagenesGaleria{
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.imagenesGaleria img{
    height: 550px;
    width: 550px;
    object-fit: cover; 
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    
}
.imag{
    display: flex;
justify-content: center;
}

.swing-in-bottom-fwd {
	animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes swing-in-bottom-fwd {
    0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
    }
    100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
    }
}


/*768
@media (max-width:768){
    .contenedor{
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "main main"
        "main main"
        "main main"
        "main main"
        "pie pie";
    }
}

/*360*/

